{% extends 'accounts/working/mypage.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block content %}

<div class="col-10 py-5 px-5 bg-light">
    <div class="d-flex justify-content-between">
      <h3 class="fw-bold">리뷰</h3>
      <select onchange="if(this.value) location.href=(this.value);">
        <option value="#">답변 대기중</option>
        <option value="#" >답변 완료</option>
      </select>
    </div>
    <hr class="green-line mb-4" />
    <!-- 상품 -->
    {% for review in reviews %}
      <div class="row">
        <div class="card bg-light border-0">
          <div class="d-flex justify-content-between mx-4">
            <p class="fs-5 mb-2">여기에 Review 모델 날짜</p>
            <a class="text-decoration-none text-muted" href="{% url 'products:detail' review.product.pk %}">
              상품 상세보기 >
            </a>
          </div>
          <hr class="mt-0 mb-4" />
          <div class="d-flex justify-content-between">
            <div class="d-flex mx-4 align-items-center">
              {% if review.product.is_crawl %}
                <img 
                  class="me-4" 
                  src="{{ review.product.crawl_produt_detail_img }}" 
                  alt="상품 이미지" 
                  style="height: 180px; width: 150px"
                >
              {% else %}
                <img 
                  class="me-4" 
                  src="{{ review.product.produt_thum_img.url }}" 
                  alt="상품 이미지" 
                  style="height: 180px; width: 150px"
                >
              {% endif %}
              <div class="d-inline-flex flex-column align-content-center me-4">
                <p class="mb-2 text-muted">상품명</p>
                <p class="mb-2 text-muted">리뷰제목</p>
                <p class="mb-2 text-muted">작성자</p>
                <p class="mb-2 text-muted">리뷰내용</p>
              </div>
              {% comment %} 구매한 상품에 대한 review 목록 {% endcomment %}
              <div class="d-inline-flex flex-column align-content-center me-5">
                <p class="mb-2">{{ review.product.title }}</p>
                <p class="mb-2">{{ review.title }}</p>
                <p class="mb-2">{{ review.user }}</p>
                <p class="mb-2">{{ review.content }}</p>                    
              </div>
            </div>
            {% if request.user.is_seller %}
                <div class="d-flex align-items-center">
                <button class="btn btn-outline-green me-4">답변하기(미구현)</button>
                </div>
            {% else %}
                {% comment %} 여기에는 리뷰 목록에 따른 버튼이 와야함 {% endcomment %}
            {% endif %}
          </div>
        </div>
      </div>
      <hr class="lightgreen-line my-4">
    {% endfor %}
    <!-- 상품 -->
    </div>
  </div>

{% endblock content %}