{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block body %}
   <div>
              <!-- 로그인 폼-->
      <div class="container mt-5 p-3">
        <h1 class="text-center mb-5">로그인</h1>
        <div class="container" style="width: 30rem;">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="text-center mt-3 mb-5">
                {% bootstrap_form form %}
                </div>
                <!-- <div class="login-input text-center mt-3 mb-5">
                    <input type="text" aria-label="Text input with dropdown button" width="10" placeholder="아이디를 입력해주세요">  
                </div>
                <div class="login-input text-center mt-5 mb-5">
                    <input type="text" aria-label="Text input with dropdown button" placeholder="비밀번호를 입력해주세요">
                </div> -->
            
                                <!-- {{ login_form }} -->
                                <label>
                                    <input type="checkbox" name="remember_session" />
                                    <span style="padding-bottom: 35px;">로그인 상태 유지</span>
                                </label>
                                <br>
                                <!-- 아이디/비번 찾기 -->
                                <div class="row justify-content-end mt-3">
                                    <div class="col-2 p-0">
                                    <a class="float-end text-decoration-none" style="color: black;">아이디 찾기</a>
                                    </div>
                                    <div class="col-3">
                                        <a class="float-start text-decoration-none" style="color: black;">|  비밀번호 찾기 </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 로그인 및 회원가입 버튼 -->
                        <div class="container">
                            <div class="d-flex justify-content-center mt-5">
                                <button type="submit" class="btn btn-green" style="padding: 1rem 6.5rem;">로그인</button>
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <a href="{% url 'accounts:agreement' %}">
                                <button type="button" class="btn btn-outline-green" style="padding: 1rem 6rem;"  >회원가입</button></a>
                            </div>
                        </div>
                        </div>
                    </form>
{% endblock body %}