{% extends 'accounts/mypage.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block content %}

<div class="col-10 py-5 px-5 bg-light">
    <div class="d-flex justify-content-between">
      <h3 class="fw-bold">상품문의</h3>
      <select onchange="if(this.value) location.href=(this.value);">
        <option value="#">답변 대기중</option>
        <option value="#" >답변 완료</option>
      </select>
    </div>
    <hr class="green-line mb-4" />
    <!-- 상품 -->
    {% for question in questions %}
      <div class="row">
        <div class="card bg-light border-0">
          <div class="d-flex justify-content-between mx-4">
            <p class="fs-5 mb-2">{{question.created_at|date:"y-m-d" }}</p>
            <a class="text-decoration-none text-muted" href="{% url 'products:detail' question.product.pk %}">
              상품 상세보기 >
            </a>
          </div>
          <hr class="mt-0 mb-4" />
          <div class="d-flex justify-content-between">
            <div class="d-flex mx-4 align-items-center">
                {%if question.product.is_crawl%}
                <img class="me-4" src="{{question.product.crawl_produt_detail_img}}" alt="상품 이미지" style="height: 180px; width: 150px">
                {%else%}
                <img class="me-4" src="{{question.product.produt_thum_img.url}}" alt="상품 이미지" style="height: 180px; width: 150px">
                {%endif%}
              <div class="d-inline-flex flex-column align-content-center me-4">
                <p class="mb-2 text-muted">상품명</p>
                <p class="mb-2 text-muted">문의제목</p>
                <p class="mb-2 text-muted">문의자</p>
                <p class="mb-2 text-muted">문의내용</p>
              </div>
              {% comment %} 모든 상품에 대한 Question {% endcomment %}
              <div class="d-inline-flex flex-column align-content-center me-5">
                <p class="mb-2">{{ question.product.title }}</p>
                <p class="mb-2">{{ question.title }}</p>
                <p class="mb-2">{{ question.user }}</p>
                <p class="mb-2">{{ question.content }}</p>                    
              </div>
            </div>
            <div class="d-flex align-items-center">
                {%if question.is_answered == 1%}
                <button  class=" btn btn-green me-4"
                type="button" data-bs-toggle="modal" 
                data-bs-target="#ansModal-{{ question.pk }}" data-question-id="{{ question.pk }}"
                >답변완료</button>
                {%else%}
                <button class=" btn btn-outline-green me-4 ">답변대기중</button>
                {%endif%}
                <div class="modal fade" id="ansModal-{{ question.pk }}" tabindex="-1" aria-labelledby="ansModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="container modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-3" id="ansModalLabel">상품문의 답변</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    <div class="modal-body">
                        <div class="container mt-3 mx-3">
                            <p class="fw-bold">{{ question.title }}</p>
                        </div>
                        <div class="container">

                                <div class="container mt-3 mx-3">
                                    <p>{{ question.content}}</p>
                                </div>
                                <div class="row mb-3 mt-5">
                                    <div class="col-2">
                                        <label for="message-text" class="col-form-label mx-3 fw-bold">답변</label>
                                    </div>
                                    <div class="col-10">
                                        {% for answer in answers %}
                                        {% if answer.question_id == question.pk%}
                                        <p class="mx-3 mt-2">{{ answer.content }}</p>
                                        {% endif %}
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-5">
                                    <button type="button" class="btn btn-outline-green p-2 px-3 mx-2" data-bs-dismiss="modal">닫기</button>
                                </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="lightgreen-line my-4">
    {% endfor %}
    <!-- 상품 -->
    </div>
  </div>

{% endblock content %}