{% extends 'base.html' %}
{% load static %}
{% block script %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
<script type="text/javascript" src="{% static 'js/10-11.js' %}"></script> 
{% endblock script %}
{% load django_bootstrap5 %}
{% block body %}
<!-- 장바구니 -->

<div style="display:flex;">
    <button id="minus">-</button>
    <p>0</p>
    <button id="plus">+</button>
  </div>
  
  <script>
    let countNum = 0
  
    const minus = document.querySelector('#minus')
    minus.addEventListener('click', function () {
      countNum -= 1
      const p = document.querySelector('p')
      p.innerText = countNum
    })
  
    const plus = document.querySelector('#plus')
    plus.addEventListener('click', function () {
      countNum += 1
      const p = document.querySelector('p')
      p.innerText = countNum
    })
  </script>
  
  <a class="btn btn-secondary" href="{% url 'cart:add_cart' product.id %}">장바구니 담기</a>
  {% endblock %}