{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block body %}

 <!-- 상품 이미지 및 상품명 -->
 <div class="container text-center mt-5">
    <div class="row">
      <div class="col">
          <img src="{{product.produt_thum_img.url}}" alt="상품 이미지">
      </div>
      <div class="col-4">
          <h3>{{product.title}}</h3>
          <h3><span style="color: #fbcd24">{{product.sales_rate}}% </span>{{product.price}}원</h3>
          <hr>
          <p>판매자명:{{product.user.name}}</p>
          <hr>
          <p>포장 타입: {{product.}}</p>
          <br>
          <p>판매 단위: {{product.unit}}</p>
          <p>중량/용량: {{product.weight}}</p>
          <p>원산지: 상세페이지 별도 표기</p>
          <p>상품 재고: {{product.stock}}</p>  
          <hr>
          <p>이 제품에는 다음과 같은 알러지 성분이 포함되어 있습니다.</p>
            {%for i in product.allergy%}
            {{i}},
            {%endfor%}
            <br>
            <p>
                상품선택
            </p>
          <div class="d-flex align-items-center float-end">
              <a class="mx-3" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                  </svg>   
              </a>        
              <button type="button" class="btn btn-green"><strong>위시리스트에 담기</strong></button>
          </div>
      </div>
    </div>
  </div>

  <!-- 하단 상품 이미지 및 설명 -->
  <div class="d-flex justify-content-center flex-column">
      <div>
      <p class="text-center">
        <img  src="{{product.produt_detail_img.url}}" alt="상품 상세 이미지" />
      </p>
        <br>
      <h3 class="text-center">{{product.title}}</h3>
      <br>
      <p class="text-center">
        {{product.description}}
        <br>
        <img src="{{product.produt_desc_img.url}}" alt="상품 성분표 이미지"/>
      </p>
    </div>
  </div>
  <!-- 리뷰 영역 -->
  <table class="table table-hover text-center">
    <thead class="table-dark">
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성 시간</th>
            <th scope="col">마지막 수정 시간</th>
            <th scope="col">추천</th>
        </tr>
    </thead>
    <tbody class="table-dark">
        {% for review in reviews %}
        <tr onclick="location.href='/reviews/{{review.pk}}/'" style="vertical-align: middle;">
            <th scope="row">{{ forloop.counter }}</th>
            <td> {{ review.title }}</td>
            <td> {{ review.user.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<div class="text-end m-1">
  <a href="{% url 'reviews:review_create' product.pk %}" class="btn btn-sm" id="detail_btn">리뷰 작성</a>
</div>

<div class="container">
<div class="text-end m-1">
    <button class="btn btn-sm" 
        onclick="location.href='/products/{{ product.pk }}/update/'">수정</button>
</div>
<div class="text-end m-1">
    <button  class="btn btn-sm" 
        onclick="location.href='/products/{{ product.pk }}/delete/'">삭제</button>
</div>


{% endblock %}