{% extends 'base.html' %}
{% load static %}
{% block script %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
<script type="text/javascript" src="{% static 'js/10-11.js' %}"></script> 
{% endblock script %}
{% load django_bootstrap5 %}
{% block body %}

 <!-- 상품 이미지 및 상품명 -->
 <div class="container mt-5">
    <div class="row">
      <div class="col">
          <img src="{{product.produt_thum_img.url}}" alt="상품 이미지">
      </div>
      <div class="col-6">
        <p class="goods_name">
          <strong class="name">{{product.title}}</strong>
          <span class="short_desc">{{product.summary}}</span>
        </p>
        <p class="goods_price">
            <span class="position">
                <span class="dc">
                    <span class="dc_price">
                      {{product.price}}
                        <input type="hidden" value={{product.price}}>
                    </span>
                    <span class="won">원</span>
                </span>
                
            </span>
        </p>
          <div class="goods_info">
            <dl class="list fst">
              <dt class="tit">판매단위</dt>
              <dd class="desc">{{product.unit}}</dd>
          </dl>
          <dl class="list">
              <dt class="tit">중량/용량</dt>
              <dd class="desc">{{product.weight}}</dd>
          </dl>
          <dl class="list">
              <dt class="tit">배송구분</dt>
              <dd class="desc">샛별배송/택배배송</dd>
          </dl>
          <dl class="list">
              <dt class="tit">원산지</dt>
              <dd class="desc">상세페이지 별도 표기</dd>
          </dl>
          <dl class="list">
              <dt class="tit">포장타입</dt>
              <dd class="desc">
                  냉장/종이포장
                  <strong class="emphd">택배배송은 에코포장이 스티로폼으로 대체됩니다.</strong>
              </dd>
          </dl>
          <dl class="list">
              <dt class="tit">알레르기정보</dt>
              <dd class="desc">-{%for i in product.allergy%}
                {{i}} 
                {%endfor%}</dd>
          </dl>
          <dl class="list">
              <dt class="tit">유통기한</dt>
              <dd class="desc">수령일 포함 최소 1일이상 남은 상품을 배송드립니다.</dd>
          </dl>
          <dl class="list">
            <dt class="tit">재고</dt>
            <dd class="desc">현재 남은 수량: {{product.stock}} </dd>
          </dl>
          <dl class="list">
            <dt class="tit">주문</dt>
            <dd class="desc">
            <div class="subdiv">
              <form action="{% url 'products:add_cart' product.pk%}" method="POST">
                {% csrf_token %} 
              <div class="basketprice"><input type="hidden" name="p_price" id="p_price1" class="p_price" value="{{product.price}}"></div>
              <div class="num">
                  <div class="updown">
                      <span onclick="javascript:basket.changePNum(1);"><i class="fas fa-arrow-alt-circle-up up"></i></span>
                      <input type="text" name="p_num1" id="p_num1" size="2" maxlength="4" class="p_num" value="1" onkeyup="javascript:basket.changePNum(1);" >
                      <span onclick="javascript:basket.changePNum(1);"><i class="fas fa-arrow-alt-circle-down down"></i></span>
                  </div>
              </div>
              <div class="sum">{{product.price}}원</div>
              <button type="submit" class="btn btn-outline-secondary" style="margin-right:5px;">Add To Cart</button>
            </form>
              <!-- <form action="{% url 'products:add_cart' product.pk%}" method="POST">
                {% csrf_token %}   -->
                <!--   수량   -->
                    <!-- <div id="mainDiv" style="display: flex; align-items: center; margin-bottom:25px; margin-top:20px; font-size:16px;color:#555555;">
                        수량 선택 <input type="number" name="quantity" style="width:70px; margin-left:20px;" min="1" id="numberPlace" value="1" class="form-control qty-input text-center">
                        
                    </div> -->
                <!--   수량  끝 --> 
               <!-- <button type="submit" class="btn btn-outline-secondary" style="margin-right:5px;">Add To Cart</button>
              </form>
                
              <script type="text/javascript">
              document.getElementById('numberPlace').value = '1';
              </script> -->
            
            </dd>
          </dl>

         <!--장바구니 추가는 어떻게?-->
         <div class="d-flex align-items-center float-end">
          <a class="mx-3" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>   
          </a>        
          <button type="button" class="btn btn-green"><strong>위시리스트에 담기</strong></button>

        </div>
        </div>
      </div>
    </div>
  </div>
  <!--탭 테스트  -->
  <div >
  <div class="detail_tab">
    <ul class="tab_list" style=" list-style:none;">
      <li class="tab_item item01" id="bookmark_product_information_item">
        <a href="#bookmark_product_information">
          <h3 class="tab_txt">상품 상세정보</h3>
        </a>
      </li>
      <li class="tab_item item02" id="bookmark_cm_opinion_item">
        <a href="#bookmark_cm_opinion">
          <h3 class="tab_txt">상품리뷰</h3>
          <strong class="num_c" id="productOpinionTabCount"></strong>
        </a>
      </li>
    </ul>
  </div>
</div>
<!--// detail_tab_area -->
  <!-- 하단 상품 이미지 및 설명 -->
  <div id="bookmark_product_information" style="height: 100px; margin-top: -100px;"></div>
  <div class="d-flex justify-content-center flex-column">
      <div>
      <p class="text-center">
        <img  src="{{product.produt_detail_img.url}}" alt="상품 상세 이미지" />
      </p>
        <br>
      <h3 class="text-center">{{product.title}}</h3>
      <br>
      <p class="text-center">
        {{product.description}}
        <br>
        <img src="{{product.produt_desc_img.url}}" alt="상품 성분표 이미지"/>
      </p>
    </div>
  </div>

  <!-- 리뷰 영역 -->
  <div id="bookmark_cm_opinion" style="height: 100px; margin-top: -100px;"></div>
  <!-- 하단 상품 후기 -->
  <div class="container pt-5 pb-5">
    <h2 class="text-center">고객님들의 후기</h2>
    <div class="d-flex justify-content-center mt-5 mb-3">
      <img src="./main.assets/상품후기 이미지.png" alt=""/>
    </div>
    <div class="d-flex float-start mt-3">
      <p class="mx-3">총 {{reviews.count}}개</p>
    </div>
    <br>
    <br>
    <hr> 

    <div class="container mt-5">
      {% for review in reviews %}
      <div class="row">
        <div class="col-2">
          
          <div class="d-flex align-content-center">
            <button class="btn-grade">등급</button>
            <h6 class="mb-0 pt-1">{{ review.user.name }}</h6>
          </div>
        </div>
        <div class="col-8"  onclick="location.href='/reviews/{{review.pk}}/'">
          <h5 class="text-muted fw-bold">상품명 및 상품 제목 {{ review.title }}</h5>
          <p class="text-muted">{{review.content}}Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, rerum beatae provident cum voluptatem optio ducimus a magni numquam odit sed eos error delectus, ullam voluptates praesentium odio quam velit.</p>
          <img src="./main.assets/상품후기 이미지 2.png">
        </div>

      </div>
    </div>
    <hr>
    {% endfor %}


<div class="text-end m-1">
  <a href="{% url 'reviews:review_create' product.pk %}" class="btn btn-sm" id="detail_btn">리뷰 작성</a>
</div>

<div class="container">
<div class="text-end m-1">
    <button class="btn btn-sm" 
        onclick="location.href='/products/{{ product.pk }}/update/'">수정</button>
</div>
<div class="text-end m-1">
    <button  class="btn btn-sm" 
        onclick="location.href='/products/{{ product.pk }}/delete/'">삭제</button>
</div>
</div>

{% endblock %}