{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block body %}

  <div id="wrap">

    <!-- 회원가입 이용약관 -->
    <div class="container my-5">
      <h3 class="text-center fw-bold mb-5">회원가입 이용약관</h3>
      <div class="row signin-border p-5 m-auto" style="width: 900px;">
        <p class="text-muted">제1장 총 칙</p>
        <p class="text-muted">제1조(목적)<br> 이 약관은 베스트문구(이하 "회사"라 한다)의 회원약관에 동의한 모든 회원 및 비회원들을 대상으로 하며,
          <br> "회사"가 운영하는 인터넷쇼핑몰(이하 "몰"이라 한다)에서 제공하는 인터넷 관련 서비스(이하 "서비스"라 한다)를
          <br> 이용함에 있어 인터넷쇼핑몰과 이용자의 권리의무 및 책임사항을 규정함을 목적으로 합니다</p>
        <p class="text-muted">제2조(정의)<br> 1.몰 : "회사"가 재화 또는 용역을 이용자에게 제공하기 위하여 컴퓨터등 정보통신설비를 이용하여 재화 또는 용역을 거래할 수 있도록 설정한 가상의 영업장 혹은 인터넷쇼핑몰을 운영하는 사업자 2.이용자 : "몰"에 접속하여 이 약관에 따라 "몰"이 제공하는 서비스를 받는 회원 및 비회원 3.회원 : "몰"의 회원약관에 동의하여 "회사"에 개인정보를
          <br> 제공하여 이용계약을 체결한 모든 회원을 지칭하며, "몰"의 정보를 지속적으로 제공받으며, "몰"이 제공하는 서비스를 계속적으로 이용할 수 있는 자 4.비회원 : 회원에 가입하지 않고 "몰"이 제공하는 서비스를 이용하는 자 5.아이디(ID) : 회원의 식별과 서비스 이용을 위하여 회원이 정하고 "회사"가 승인하는 문자 또는 숫자의 조합 6.비밀번호 : 회원이
          <br> 부여받은 아이디(ID)와 일치되는 회원임을 확인하고 회원의 비밀보호를 위해 회원 자신이 정한 문자 또는 숫자의 조합 7.해지 : "회사" 또는 회원이 서비스 개통 후 이용계약을 해약하는 것 </p>
        <p class="text-muted">제3조 (약관의 명시와 개정)<br>1. "회사"는 이 약관의 내용과 상호, 영업소 소재지, 대표자의 성명, 사업자등록번호, 연락처(전화, 팩스, 전자우편 주소 등) 등을 이용자가 알 수 있도록 "몰"의 초기 서비스화면(전면)에 게시합니다. 2.이 약관은 "회사"가 제공하는 화면에 게시하거나 기타의 방법으로 이용고객 또는 회원에게 공지하고 회원이 이에 동의함으로써 효력을 발생합니다.
          <br> 3."회사"는 전자거래기본법, 전자서명법, 정보통신망이용촉진및정보보호등에관한법률, 방문판매등에 관한 법률,
          <br> 소비자보호법 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다. 4."회사"가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 몰의 초기화면에 공지함으로써 그 공지 후 7일이 경과한 날로부터 효력을 발생합니다. 5. 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그
          <br> 이전에 이미 체결된 계약에 대해서는 개정전의 약관조항이 그대로 적용됨을 원칙으로 합니다. 다만, 개정약관의 적용을 원하는 회원의 동의절차의 편의를 위하여 이미 계약을 체결한 이용자가 동조 제 4항의 공지에도 불구하고 개정약관
          <br> 조항의 적용을 받지 않기를 원한다는 이의를 표시하지 않은 경우에는 동조 2항의 동의한 것으로 간주되며 정약관이
          <br> 적용됩니다. 6.이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 정부가 제정한 전자거래소비자보호지침 및 관계법령 또는 상관례에 따릅니다.</p>
      </div>
      <div class="d-flex justify-content-center my-5 mb-5">
        <form action="" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-green p-2 px-5 me-5" name="buyer" value="buyer">일반 회원가입</button>
          <button type="submit" class="btn btn-lightgreen p-2 px-5" name="seller" value="seller">판매자 회원가입</button>
        </form>
      </div>
    </div>
  </div>

{% endblock body %}