<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style_1.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <title>로그인</title>
    <style>
      body {
        font-family: "Noto Sans KR", sans-serif;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <!-- 최상단 Navbar -->
    <nav class="navbar navbar-expand-lg p-0">
        <div class="container d-felx justify-content-end">
            <div class="navbar-nav">
              <a class="nav-link active mx-3 small" aria-current="page" href="#"><small>회원가입</small></a>
              <a class="nav-link active mx-3 small" href="#"><small>로그인</small></a>
              <a class="nav-link active mx-3 small" href="#"><small>고객센터</small></a>
            </div>
        </div>
    </nav>
    <!-- 중간 Navbar -->
    <nav class="navbar navbar-expand-lg p-0">
        <div class="container d-flex justify-content-center">
            <img src="./main.assets/logo.png">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form class="d-flex nav-searchbar" role="search">
              <input class="form-control me-2" type="search" placeholder="검색어를 입력해주세요" aria-label="Search">
              <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                </a>
          </form>
            <span class="mx-5"></span>
            <ul class="navbar-nav">
                <li class="nav-item mx-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      </svg>                
                </li>
                <li class="nav-item mx-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>                
                </li>
                <li class="nav-item mx-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>                
                </li>
            </ul>
        </div>
    </nav>  
    <!-- 하단 Navbar -->
    <nav class="navbar nav-shadow">
        <div class="container d-flex justify-content-evenly">
            <li class="nav-item dropdown m-0 list-unstyled">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
                카테고리
                </a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item list-unstyled nav-menu">
                <a class="nav-link active" href="#">신상품</a>
            </li>
            <li class="nav-item list-unstyled nav-menu">
                <a class="nav-link active" href="#">베스트</a>
            </li>
            <li class="nav-item list-unstyled nav-menu">
                <a class="nav-link active" href="#">알뜰쇼핑</a>
            </li>
            <li class="nav-item list-unstyled nav-menu">
                <a class="nav-link active" href="#">특가/혜택</a>
            </li>
        </div>
    </nav>
    <div id="wrap">

      <!-- 로그인 폼-->
      <div class="container mt-5 p-3">
        <h1 class="text-center mb-5">로그인</h1>
        <div class="container">
            <div class="login-input text-center mt-3 mb-5">
                <input type="text" aria-label="Text input with dropdown button" width="10" placeholder="아이디를 입력해주세요">
            </div>
            <div class="login-input text-center mt-5 mb-5">
                <input type="text" aria-label="Text input with dropdown button" placeholder="비밀번호를 입력해주세요">
            </div>
            <!-- 아이디/비번 찾기 -->
            <div class="row justify-content-end mt-3">
                <div class="col-2 p-0">
                  <a class="float-end text-decoration-none" style="color: black;">아이디 찾기</a>
                </div>
                <div class="col-3">
                    <a class="float-start text-decoration-none" style="color: black;">|  비밀번호 찾기 </a>
                  </div>
              </div>
        </div>
      </div>

      <!-- 로그인 및 회원가입 버튼 -->
      <div class="container">
        <div class="d-flex justify-content-center mt-5">
            <button type="button" class="btn btn-green" style="padding: 1rem 6.5rem;">로그인</button>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button type="button" class="btn btn-outline-green" style="padding: 1rem 6rem;">회원가입</button>
        </div>
      </div>
      

      <!-- Footer -->
      <!-- Top 버튼 -->
      <div
        class="d-flex justify-content-end mb-4 me-4 fixed-bottom"
        style="z-index: 2"
      >
        <button onclick="topFunction()" class="topBtn" title="Go to top">
          <i class="bi bi-arrow-up fs-2"></i>
        </button>
      </div>
      <!-- footer -->
      <footer class="d-flex flex-column">
        <hr />
        <div class="d-flex justify-content-around mx-5 pt-3">
          <!-- 문의상담 -->
          <div class="">
            <h5>고객행복센터</h5>
            <p class="mb-4">
              <span class="fw-bolder fs-2"> 1234-5678 </span>
              <span>월~토요일 오전 7시-오후 6시</span>
            </p>
            <div class="d-flex align-items-center my-3">
              <button class="btn-outline-gray">카카오톡 문의</button>
              <p class="ms-3 my-1 text-muted">
                월~금요일 | 오전 9시 - 오후 6시
              </p>
            </div>
            <div class="d-flex align-items-center my-3">
              <button class="btn-outline-gray" style="padding: 10px 41px">
                1:1 문의
              </button>
              <p class="ms-3 my-1 text-muted">
                365일
                <br />
                순차적으로 답변드리겠습니다.
              </p>
            </div>
            <div class="d-flex align-items-center my-3">
              <button class="btn-outline-gray">대량주문 문의</button>
              <p class="ms-3 my-1 text-muted">
                월~금요일 | 오전 9시 - 오후 6시
              </p>
            </div>
          </div>
          <!-- 팀 소개 -->
          <div class="me-5">
            <ul class="list-unstyled d-flex">
              <li>브로컬리</li>
              <a
                class="ms-3 text-decoration-none text-dark"
                href="https://www.notion.so/hphk-edu/14f9d654b58b4cf48953db6d0a96efe4"
                >프로젝트기획</a
              >
            </ul>
            <!-- 깃헙아이콘 -->
            <div class="d-flex">
              <a href="https://github.com/ererink" target="_blank">
                <button class="btn p-0 m-0 border-0">
                  <i class="bi bi-github fs-2"></i>
                  <p class="m-auto">김예린</p>
                </button>
              </a>
              <a href="https://github.com/qlghwp123" target="_blank">
                <button class="btn p-0 ms-2 border-0">
                  <i class="bi bi-github fs-2"></i>
                  <p class="m-auto">이동근</p>
                </button>
              </a>
              <a href="https://github.com/uRo3YA" target="_blank">
                <button class="btn p-0 ms-2 border-0">
                  <i class="bi bi-github fs-2"></i>
                  <p class="m-auto">이태극</p>
                </button>
              </a>
              <a href="https://github.com/snnzzoo" target="_blank">
                <button class="btn p-0 ms-2 border-0">
                  <i class="bi bi-github fs-2"></i>
                  <p class="m-auto">임선주</p>
                </button>
              </a>
              <a href="https://github.com/wnsn8546" target="_blank">
                <button class="btn p-0 ms-2 border-0">
                  <i class="bi bi-github fs-2"></i>
                  <p class="m-auto">최준우</p>
                </button>
              </a>
            </div>
          </div>
        </div>
        <!-- Copyright -->
        <hr class="mb-0" />
        <div class="bg-light text-center py-4">
          © 2022. BroKurly All rights reserved
        </div>
      </footer>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <!-- Top Btn -->
    <script>
      // get the btn
      let myBtn = document.getElementById("myBtn");

      // When the user scrolls down 30px from the top of the doc, show the btn
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 30 ||
          document.documentElement.scrollTop > 30
        ) {
          mtBtn.style.display = "block";
        } else {
          myBtn.style.display = "none";
        }
      }

      // When the user clicks on the btn, scroll to the top of the doc
      function topFunction() {
        document.body.scrollTop = 0; // for Safari
        document.documentElement.scrollTop = 0; // for Chrome, Firefox, IE and Opera
      }
    </script>
  </body>
</html>
