{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block body %}

  <div id="wrap">

    <!-- 로그인 폼-->
    <div class="container">
      <h3 class="fw-bold text-center my-5">로그인</h3>
      <div class="row justify-content-center">
        <form action="" method="POST" style="width: 350px;">
          {% csrf_token %}
          <div class="login-input mb-3">
              {{ form.username }}
          </div>
          <div class="login-input">
              {{ form.password }}
          </div>
          <!-- 아이디/비번 찾기 -->
          <div class="d-flex justify-content-end my-3">
              <a class="float-end text-decoration-none small" href="#" style="color: black;">아이디 찾기</a>
              <p class="mx-2 my-0 small">|</p>
              <a class="float-start text-decoration-none small" href="#" style="color: black;">비밀번호 찾기 </a>
          </div>
      
          <!-- 로그인 및 회원가입 버튼 -->
          <div class="row mt-4 mb-5" style="padding: 0px 10px">
            <button type="submit" class="btn btn-green mb-3 py-2">로그인</button>
            {% comment %} button 으로 하면 로그인 form 을 채워야해서 안됨 {% endcomment %}
            <a type="button" href="{% url 'accounts:agreement' %}" class="btn btn-outline-green py-2">회원가입</a>
          </div>
          
        </form>
      </div>
    </div>

  </div>

{% endblock %}