{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block body %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <div id="wrap">

    <!-- 로그인 폼-->
    <form action="" method="POST">
      {% csrf_token %}
      <div class="container mt-5 p-3">
        <h1 class="text-center mb-5">로그인</h1>
        <div class="container">
          <div class="login-input text-center mt-3 mb-5">
            {{ form.username }}
          </div>
          <div class="login-input text-center mt-5 mb-5">
            {{ form.password }}
          </div>
          <!-- 아이디/비번 찾기 -->
          <div class="row justify-content-end mt-3">
            <div class="col-2 p-0">
              <a class="float-end text-decoration-none" style="color: black;">아이디 찾기</a>
            </div>
            <div class="col-3">
              <a class="float-start text-decoration-none" style="color: black;">|  비밀번호 찾기 </a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- 로그인 및 회원가입 버튼 -->
      <div class="container">
        <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-green" style="padding: 1rem 6.5rem;">로그인</button>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-outline-green" style="padding: 1rem 6rem;">회원가입</button>
        </div>
      </div>
    </form>

    
  </div>

{% endblock %}