{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block body %}

  <!-- 회원가입 이용약관 -->
  <div class="container my-5 px-5">
    <h3 class="fw-bold text-center mb-5">
        <span>
          {% if is_seller %}
            판매자
          {% else %}
            구매자
          {% endif %}
        </span>
        회원가입
    </h3>
    <div class="col-7 row align-content-center m-auto">
      <div class="d-flex justify-content-end">
          <p class="float-start"><span style="color: orangered; margin-right: 5px;">*</span>필수입력사항</p>
      </div>
      <hr class="green-line m-0">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="container px-3">
          <!-- 아이디 -->
          <div class="d-flex align-items-center pt-3">
            <div style="padding-right: 80px;">아이디<span style="color: orangered;">*</span></div>
            <div style="width: 400px;">
              {{ form.username }}
            </div>
            <button type="button" class="btn btn-outline-green ms-2" style="padding: 11px 25px" data-bs-toggle="modal" data-bs-target="#idCheckModal" onclick="checkId();">중복확인</button>
          </div>
          <!-- 비밀번호 -->
          <div class="d-flex align-items-center pt-3">
            <div style="padding-right: 65px;">비밀번호<span style="color: orangered;">*</span></div>
            <div style="width: 400px;">
              {{ form.password1 }}
            </div>
          </div>
          <!-- 비밀번호 확인-->
          <div class="d-flex align-items-center pt-3">
            <div style="padding-right: 35px;">비밀번호확인<span style="color: orangered;">*</span></div>
            <div style="width: 400px;">
              {{ form.password2 }}
            </div>
          </div>
          <!-- 이름 -->
          <div class="d-flex align-items-center pt-3">
            <div style="padding-right: 94px;">이름<span style="color: orangered;">*</span></div>
            <div style="width: 400px;">
              {{ form.name }}
            </div>
          </div>
          <!-- 이메일 -->
          <div class="d-flex align-items-center pt-3">
            <div style="padding-right: 78px;">이메일<span style="color: orangered;">*</span></div>
            <div style="width: 400px;">
              {{ form.email }}
            </div>
              <button type="button" class="btn btn-outline-green px-3 ms-2" style="padding: 11px 20px" data-bs-toggle="modal" data-bs-target="#emailCheckModal" onclick="checkEmail();">이메일 인증</button>
          </div>
          <!-- 주소 -->
          <div class="d-flex align-items-center pt-3">
            <div style="padding-right: 93px;">주소<span style="color: orangered;">*</span></div>
            <div class="search-bar" style="width: 399px;">
              {{ form.address }}
              <a style="cursor: pointer;">
                <svg style="margin-top: 5px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#008b47" class="bi bi-search" viewBox="0 0 16 16" id="address-search" onclick="DaumPostcode()">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <!--지도-->
        <div id="map" style="width:300px;height:300px;margin-top:10px;display:none;margin:auto;"></div>
 
        <hr class="green-line mt-4">
        <!-- 가입하기 버튼 -->
        <div class="d-flex align-items-center justify-content-center mt-5">
          <a href="{% url 'accounts:signup' is_seller %}" type="submit" class="btn btn-green" style="padding: 18px 120px;">
            가입하기
          </a>
        </div>
      </form>
    </div> <!-- col-8 -->
  </div> <!-- container -->

  <!--아이디 중복체크 모달-->
  <div class="modal fade" id="idCheckModal" tabindex="-1" aria-labelledby="idCheckModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
      <div class="modal-content" style="width: 330px; height: 170px;">
        <div class="modal-body" id="modal-body" style="padding: 50px 40px 30px; font-size: 16px; text-align: center; letter-spacing: -0.5px;">
        </div>
        <div class="modal-footer d-flex justify-content-center p-0">
          <button type="button" data-bs-dismiss="modal" class="btn text-green px-5">확인</button>
        </div>
      </div>
    </div>
  </div>
  
  <!--이메일 인증 모달-->
  <div class="modal fade" id="emailCheckModal" tabindex="-1" aria-labelledby="emailCheckModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
      <div class="modal-content" style="width:330px;height:170px;">
        <div class="modal-body" id="modal-body" style="padding: 50px 40px 30px; font-size: 16px; text-align: center; letter-spacing: -0.5px;">
          이메일을 인증해주세요.
        </div>
        <div class="modal-footer d-flex justify-content-center p-0">
          <button type="button" data-bs-dismiss="modal" class="btn text-green px-5">확인</button>
        </div>
      </div>
    </div>
  </div>
    
  <!--자바스크립트-->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f120b1818e7d400b80e5bf358936933a&libraries=services"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    //주소 카카오 API
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
                level: 5 // 지도의 확대 레벨
            };
    
        //지도를 미리 생성
        var map = new daum.maps.Map(mapContainer, mapOption);
        //주소-좌표 변환 객체를 생성
        var geocoder = new daum.maps.services.Geocoder();
        //마커를 미리 생성
        var marker = new daum.maps.Marker({
            position: new daum.maps.LatLng(37.537187, 127.005476),
            map: map
        });
    
    function DaumPostcode() {
    
            new daum.Postcode({
                oncomplete: function(data) {
                    var addr = data.address; // 최종 주소 변수
    
                    // 주소 정보를 해당 필드에 넣는다.
                    let test = document.getElementById("id_address").value = addr;
    
                    // 주소로 상세 정보를 검색
                    geocoder.addressSearch(data.address, function(results, status) {
                        // 정상적으로 검색이 완료됐으면
                        if (status === daum.maps.services.Status.OK) {
    
                            var result = results[0]; //첫번째 결과의 값을 활용
    
                            // 해당 주소에 대한 좌표를 받아서
                            var coords = new daum.maps.LatLng(result.y, result.x);
                            // 지도를 보여준다.
                            mapContainer.style.display = "block";
                            map.relayout();
                            // 지도 중심을 변경한다.
                            map.setCenter(coords);
                            // 마커를 결과값으로 받은 위치로 옮긴다.
                            marker.setPosition(coords)
                        }
                    });
                }
            }).open();
        }  
  
    const checkId = function () {
      const userName = document.querySelector('#id_username').value
      const modalBody = document.querySelector('#modal-body')
    
      axios({
              method: 'post',
              url: `/accounts/check_id/`,
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              data: {'user_id': userName}
            }).then(response =>{
              console.log(response.data.is_exist)
              if(userName.length === 0) {
                modalBody.innerText = "아이디를 입력해주세요."
              }
              else if (response.data.is_exist === false) {
                modalBody.innerText = "사용가능한 아이디입니다."
              }
              else {
                modalBody.innerText = "이미 존재하는 아이디입니다."
              }
            })
    }
    
    const checkEmail = function () {
      console.log("이메일을 확인하세요")
    }

  </script>

{% endblock %}
