html,
body {
  font-family: "Noto Sans KR", sans-serif;
  height: 100%;
}

/* footer 하단 고정 */
#wrapper {
  height: auto;
  min-height: 100%;
  padding-bottom: 443px;
}

footer {
  height: 443px;
  position: relative;
  transform: translateY(-100%);
}

/* Text */
.logo {
  font-family: "Kaushan Script", cursive !important;
  font-size: 50px;
}

.text-green {
  color: #008b47;
}

.text-green:hover {
  color: #008b47;
}

.text-lightgreen {
  color: #6bb64a;
}

.black-green {
  color: black;
}

.black-green:hover {
  color: #008b47;
}

.black-lightgreen {
  color: black;
}

.black-lightgreen:hover {
  color: #6bb64a;
}

/* Buttons */
.btn-green {
  color: white;
  background-color: #008b47;
}

.btn-green:hover {
  color: white;
  background-color: #006e39;
}

.btn-outline-green {
  color: #008b47;
  background-color: white;
  border: 2px solid #008b47;
}

.btn-outline-green:hover {
  color: white;
  background-color: #6bb64a;
  border: 2px solid #008b47;
}

.btn-outline-grey {
  border: 2px solid #9e9a9a;
}

.btn-outline-grey:hover {
  border: 2px solid #9e9a9a;
}

.btn-lightgreen {
  color: #ffffff;
  background-color: #6bb64a;
}

.btn-lightgreen:hover {
  color: #ffffff;
  background-color: #59963f;
}

.btn-outline-gray {
  /* footer 전용 */
  background-color: white;
  color: black;
  border: 1px solid #9e9a9a;
  border-radius: 5px;
  padding: 10px 20px;
}

.topBtn {
  background-color: white;
  color: #008b47;
  border: 2px solid #6ab64a92;
  border-radius: 50%;
  padding: 5px 13px;
}

/* line */
.green-line {
  background-color: #008b47;
  opacity: 100;
  border: none;
  height: 2px;
}

.lightgreen-line {
  background-color: #6bb64a;
  opacity: 60%;
  border: none;
  height: 1.5px;
}

/* card */

/* 기타 */
select {
  width: 150px;
  padding: 0.5em 1em;
  border: 1px solid #999;
  font-family: inherit;
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* 장바구니 페이지 */
.check input[type="checkbox"] {
  transform: scale(1.5);
}

.bi-dash-circle {
  color: #6bb64a;
  font-size: 20px;
}

.bi-dash-circle:hover {
  cursor: pointer;
}

.bi-plus-circle {
  color: #008b47;
  font-size: 20px;
}

.bi-plus-circle:hover {
  cursor: pointer;
}

.main-review {
  width: 12rem;
  height: 12rem;
}

/* product app - detail */
.goods_name {
  float: right;
  width: 560px;
  padding: 10px 0 29px;
}

.goods_name .name {
  display: block;
  padding-right: 60px;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  word-break: break-all;
}

.goods_name .short_desc {
  display: block;
  padding: 4px 60px 0 0;
  font-size: 14px;
  color: #999;
  line-height: 20px;
  word-break: break-all;
}

.goods_price {
  float: right;
  width: 560px;
  padding: 0 20px 0 0;
}

.goods_price .dc {
  display: block;
  padding-top: 4px;
}

.goods_info {
  float: right;
  width: 560px;
  margin-top: 19px;
  padding-bottom: 19px;
  border-top: 1px solid #f4f4f4;
}

.goods_info .list.fst {
  padding-bottom: 0;
  border-bottom: 0;
}

.goods_info .list {
  overflow: hidden;
  padding: 18px 0;
  border-bottom: 1px solid #f4f4f4;
}

.goods_info .tit {
  float: left;
  width: 150px;
  font-size: 14px;
  color: #666;
  line-height: 20px;
}

.goods_info .desc {
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  word-break: break-all;
}

.goods_info .emph {
  display: block;
  padding-top: 4px;
  font-weight: 400;
  font-size: 12px;
  color: #666;
  line-height: 16px;
}

/* detail_tab_area */
.detail_tab_area {
  background: #fff;
}

.detail_tab_area.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
  border-bottom: 1px solid #bfbfbf;
}

.detail_tab {
  position: relative;
  width: 1262px;
  margin: 0 auto;
}

.detail_tab .tab_list {
  border-bottom: 1px solid #bfbfbf;
  zoom: 1;
}

.detail_tab .tab_list:after {
  content: "";
  display: block;
  clear: both;
}

.detail_tab .tab_item {
  float: left;
  position: relative;
  width: 252px;
  height: 48px;
  font-size: 17px;
  /*font-family:"Malgun Gothic",Dotum,"돋움","Apple SD Gothic Neo",Helvetica,Sans-serif;*/
  letter-spacing: -1px;
}

.detail_tab .tab_item a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 45px;
}

.detail_tab .tab_item a:hover {
  text-decoration: none;
}

.detail_tab .tab_txt {
  display: inline-block;
  font-size: 17px;
  font-family: "Malgun Gothic", Dotum, "돋움", "Apple SD Gothic Neo", Helvetica,
    Sans-serif;
  color: #0f0f0f;
}

.detail_tab .item01 {
  margin-left: 0;
}

.detail_tab .item03,
.detail_tab .item04 {
  width: 253px;
}

.detail_tab .num_c {
  color: #666;
}

.detail_tab .tab_item .num_c {
  margin-left: 4px;
  font-weight: normal;
}

.detail_tab .tab_item.on:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -1px;
  background: #2964e0;
}

.detail_tab .on a .tab_txt,
.detail_tab .on .num_c {
  color: #2964e0;
}

.prod_fixbar {
  display: none;
  height: 60px;
}

.fixed .prod_fixbar {
  display: block;
}

.fixed .detail_tab .tab_list {
  border-bottom: 0;
}

#cartPut .cart_type2 {
  float: right;
  width: 560px;
  padding-bottom: 40px;
}

#cartPut .cart_option {
  background-color: #fff;
}

#cartPut .cart_type2 .list_goods {
  padding-bottom: 18px;
}

#cartPut .cart_type2 .list_nopackage {
  padding: 0;
}

#cartPut .cart_option .list {
  overflow: hidden;
  padding-bottom: 1px;
}

#cartPut .cart_type2 .list_nopackage li {
  float: none;
  width: 100%;
  padding: 0 0 5px;
  margin: 0;
  border: 0;
}

#cartPut .cart_type2 .list_nopackage .tit_item {
  float: left;
  width: 150px;
  font-weight: 400;
  font-size: 14px;
  color: #666;
  line-height: 20px;
  letter-spacing: -0.5px;
}

#cartPut .cart_type2 .list_nopackage .option {
  padding-top: 0;
}

#cartPut .cart_option .list .count {
  overflow: hidden;
  float: left;
  width: 88px;
  height: 30px;
  border: 1px solid #dddfe1;
  border-radius: 3px;
}

#cartPut .cart_option .list .down.on {
  background-image: url(https://res.kurly.com/pc/ico/2010/ico_minus_on.svg);
}

#cartPut .cart_option .list .down {
  background: #fff url(https://res.kurly.com/pc/ico/2010/ico_minus.svg)
    no-repeat 50% 50%;
  background-size: 30px 30px;
}

#cartPut .cart_option .list .inp {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: -1px;
  padding: 0 0 4px;
  border: 0;
  background-color: #fff;
  font-size: 14px;
  color: #000;
  line-height: 18px;
  text-align: center;
}

#cartPut .cart_option .list .up.on {
  background-image: url(https://res.kurly.com/pc/ico/2010/ico_plus_on.svg);
}

#cartPut .cart_option .list .up {
  float: right;
  background: #fff url(https://res.kurly.com/pc/ico/2010/ico_plus.svg) no-repeat
    50% 50%;
  background-size: 30px 30px;
}

#cartPut .cart_option .list .btn {
  overflow: hidden;
  float: left;
  width: 28px;
  height: 28px;
  border: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

#cartPut .cart_type2 .total {
  padding: 30px 0 14px;
  border-top: 1px solid #f4f4f4;
}

#cartPut .cart_option .total .price {
  overflow: hidden;
  text-align: right;
}

#cartPut .cart_option .total .tit {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  vertical-align: 2px;
}

#cartPut .cart_option .total .num {
  padding-left: 8px;
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
}

#cartPut .cart_option .total .won {
  padding-left: 2px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  vertical-align: -1px;
}

#cartPut .cart_type2 .in_option .total .txt_point {
  padding-top: 13px;
}

#cartPut .cart_option .total .txt_point {
  display: block;
  padding-top: 14px;
  font-size: 14px;
  color: #666;
  line-height: 20px;
  text-align: right;
}

#cartPut .cart_option .total .ico {
  display: inline-block;
  width: 38px;
  height: 20px;
  margin-right: 2px;
  border: 1px solid #e8a828;
  border-radius: 10px;
  background-color: #ffbf00;
  font-weight: 700;
  font-size: 11px;
  color: #fff;
  line-height: 18px;
  text-align: center;
  vertical-align: 1px;
}

#cartPut .cart_option .total .emph {
  font-weight: 700;
}

#cartPut .cart_option .group_btn {
  overflow: hidden;
  width: 100%;
}

#cartPut .cart_type2 .view_function {
  display: block;
  float: left;
  width: 280px;
}

#cartPut .cart_option .view_function .btn {
  overflow: hidden;
  float: right;
  width: 128px;
  height: 56px;
  margin-right: 12px;
  padding-bottom: 2px;
  border: 1px solid #5f0080;
  border-radius: 3px;
  background: #fff;
  font-weight: 700;
  font-size: 16px;
  color: #5f0080;
  line-height: 52px;
  letter-spacing: -0.1px;
  text-align: center;
}

#cartPut .cart_option .group_btn .btn_type1 {
  width: auto;
  height: 56px;
}

#cartPut .cart_option .group_btn .txt_type {
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 2px;
  border: 0;
  background: 0 0;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: -0.1px;
  text-align: center;
}

/* back */
.display-none {
  display: none;
}

html.dark {
  background: #121212;
  color: #bbb;
}

html.dark a {
  color: #3ea6ff;
}

.main-review {
  width: 12rem;
  height: 12rem;
}

/* Navbar */
.nav-shadow {
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: rgba(96, 96, 96, 0.092) 0px 7px 10px;
}

.nav-menu {
  text-decoration: none;
  position: relative;
  padding: 6px 12px;
}

.nav-menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 4px;
  background: #59963f88;
  transition: all 0.5s ease-out;
}

.nav-menu:hover::after {
  width: 100%;
}

.nav-searchbar {
  position: relative;
}

.nav-searchbar input {
  width: 400px;
  border: solid 2px #008b47;
  border-radius: 10px;
  padding: 7px;
  position: relative;
}

.nav-searchbar svg {
  position: absolute;
  top: 10px;
  right: 20px;
  margin: 0;
  text-decoration: none;
  color: gray;
}

/* 리뷰 등급 */
.btn-grade {
  background-color: #ffffff;
  border-color: #008b47;
  border-radius: 7px;
  color: #008b47;
  border-style: solid;
  margin-right: 1rem;
}

/* 회원가입 및 로그인 */
.signin-border {
  border-color: #6bb64a;
  border-radius: 4rem;
  border-style: solid;
  width: 100;
  height: 100;
  padding: 1rem;
  padding-bottom: 0rem;
  margin-top: 3rem;
}

.search-bar {
  position: relative;
}

.search-bar input {
  width: 100%;
  border: solid 2px #008b47;
  border-radius: 10px;
  padding: 7px;
  position: relative;
}

.search-bar svg {
  position: absolute;
  top: 10px;
  right: 30px;
  margin: 0;
  text-decoration: none;
  color: gray;
}

.green-border {
  border-color: #008b47;
  border-radius: 1rem;
  border-style: solid;
  padding: 1rem;
  padding-bottom: 0rem;
}

.login-input input {
  width: 100%;
  border: solid 1px rgb(206, 205, 205);
  border-radius: 7px;
  padding: 10px;
  height: 60px;
}

/* 상품상세페이지 아이콘 */
.detail-icon {
  border: solid 1px rgb(208, 204, 204);
  border-radius: 0.5rem;
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  padding: 0;
}

.detail-icon:hover {
  border: solid 1px rgb(208, 204, 204);
  border-radius: 0.5rem;
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  padding: 0;
  background-color: #e8e6e6;
}

/* 상품문의 아코디언 수정 */
.accordion::after {
  border: #ffffff;
  background-color: #ffffff;
  color: #ffffff;
  outline: none;
}
.accordion-button {
  border: #ffffff;
  outline: none;
}
.accordion-button::after {
  border: #ffffff;
  background-color: #ffffff;
  background-image: none;
  outline: none;
}
.accordion-button:not(.collapsed) {
  color: black;
  background-color: #ffffff;
  background-image: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  border: #ffffff;
}

.accordion-button:focus {
  border-color: none;
  outline: none;
  box-shadow: none;
}

/* 상품문의 답변폼 */
.answer-form {
  width: 80%;
  height: 100%;
  background-color: #fffaee;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem;
}

/* carousel 화살표 아이콘 */
.carousel-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3%;
  height: 80%;
  padding: 0;
  text-align: center;
  background: 0 0;
  border: 0;
  transition: opacity .10s ease;
  right: 0;
}


.carousel-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3%;
  height: 80%;
  padding: 0;
  text-align: center;
  background: 0 0;
  border: 0;
  transition: opacity .10s ease;
  left: 0;
}

.carousel-next-icon, .carousel-prev-icon  {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  padding: 10px;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,.2);
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 75;
}

/* 메인페이지 container 간격 */
.cont-margin {
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding: 0;
}