{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load django_bootstrap5 %}

{% block body %}

    <!-- 네브바 메뉴별 전체상품 목록 조회 -->
    
    <div class="container my-5">
        {% if request.resolver_match.kwargs.type == 'hot' %}
        <h3 class="text-center mb-5">베스트</h3>
        {% elif request.resolver_match.kwargs.type == 'new' %}
        <h3 class="text-center mb-5">신상품</h3>
        {% else %}
        <h3 class="text-center mb-5">알뜰쇼핑</h3>
        {%endif%}
        <h3 class="text-center mb-5"></h3>
        <!-- 카드목록 위 작은 카테고리 정렬 -->
        <div class="container d-flex justify-content-between px-5">
            <div class="float-start">
                <p><small>총 {{product_count}}건</small></p>
            </div>
            <div class="float-end d-flex justify-content-center align-items-center">
                <a class="text-decoration-none fw-bold" style="color: black;" href="#"><small>신상품순</small></a>
                <small class="text-muted mx-2" style="font-size: 9px;">|</small>
                <a class="text-decoration-none text-muted" href="#"><small>혜택순</small></a>
                <small class="text-muted mx-2" style="font-size: 9px;">|</small>
                <a class="text-decoration-none text-muted" href="#"><small>낮은 가격순</small></a>
                <small class="text-muted mx-2" style="font-size: 9px;">|</small>
                <a class="text-decoration-none text-muted" href="#"><small>높은 가격순</small></a>
            </div>
        </div>
        <!-- 카드들 -->
        <div class="d-felx row">
            {% for products in products_all %}
            <div class="card  col-3 border-0 pro-card mt-3" onclick="location.href='/products/{{products.pk}}/'" type="button">
                {%if products.is_crawl%}
                <img src="{{products.crawl_produt_detail_img}}" alt="상품 이미지" class="card-img-top" alt="상품 사진" width="275" height="354">
                {%else%}
                <img src="{{products.produt_thum_img.url}}" alt="상품 이미지" class="card-img-top" alt="상품 사진" width="275" height="354">
                {%endif%}
                  
                <div class="card-cart-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" onclick="location.href='#'" type="button" width="23" height="23" fill="currentColor" class="bi bi-cart mt-2" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                </div>
                <div class="card-body mt-2 p-0">
                    <p class="text-muted"><small>샛별배송</small></p>
                    <h6 class="card-title">{{products.title}}</h6>
                    <p class="card-text fw-bold">{{products.price|intcomma}} 원</p>
                </div>
            </div>
            {% endfor %}
              
            <!---여기까지 하나 -->
            
            <ul class="pagination justify-content-center mt-5">
                <!-- 이전페이지 -->
                {% if products_all.has_previous %}
                <li class="page-item mx-0">
                    <a class="page-link" href="?page={{ products_all.previous_page_number }}" style="color: #008b47">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled mx-0">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#" style="color: #008b47">이전</a>
                </li>
                {% endif %}
                <!-- 페이지리스트 -->
                {% for page_number in products_all.paginator.page_range %}
                {% if page_number >= products_all.number|add:-3 and page_number <= products_all.number|add:3 %}
                {% if page_number == products_all.number %}
                <li class="page-item active mx-0" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}" >{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item mx-0">
                    <a class="page-link" href="?page={{ page_number }}" style="color: #008b47">{{ page_number }}</a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                <!-- 다음페이지 -->
                {% if products_all.has_next %}
                <li class="page-item mx-0">
                    <a class="page-link" href="?page={{ products_all.next_page_number }}" style="color: #008b47">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled mx-0">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#" style="color: #008b47">다음</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div> <!-- container  -->   

{% endblock body%}