{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block script %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
<script type="text/javascript" src="{% static 'js/10-11.js' %}"></script> 
{% endblock script %}
{% load django_bootstrap5 %}
{% block body %}
        <!-- 상품 이미지 및 상품명 -->
        <div class="container text-center mt-5">
            <div class="row justify-content-center">
              <div class="col-6">
                {%if product.is_crawl%}
                <img src="{{product.crawl_produt_detail_img}}" alt="상품 이미지">
                {%else%}
                <img src="{{product.produt_thum_img.url}}" alt="상품 이미지">
                {%endif%}
              </div>
              <div class="col-6 text-start mx-7 ">
                  <h3 class="mx-1">{{product.title}}</h3>
                  <h3 class="mx-1"><span class="fw-bold" style="color: #fbcd24"> {{product.sales_rate}}% </span>{{product.price|intcomma}}원</h3>
                  <hr>
                  <p class="mx-1">판매자 {{product.user.name}}</p>
                  <hr>
                  <p class="mx-1">판매단위 {{product.unit}}개</p>
                  <hr>
                  <p class="mx-1">배송구분: {{product.ship_type}} </p>
                  <hr>
                  <p class="mx-1">원산지: 상세 이미지 별도</p>
                  <hr>
                  <p class="mx-1">알레르기정보 -{%for i in product.allergy%}
                    {{i}} 
                    {%endfor%}</p>
                  <hr>
                  <p class="mx-1">재고 {{product.stock}}</p>
                  <hr>
              </div>
          </div>
        </div>
        <!-- 버튼들 -->
        <div class="container p-5">
          <div class="d-flex align-items-center float-end">
            <a class="mx-3" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>   
            </a> 
            <a class="mx-3" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
              </svg>
            </a>      
            <button type="button" class="btn btn-green p-2 px-5 mx-2"><strong>위시리스트에 담기</strong></button>
          </div>
        </div>
        

          <!--소셜 공유버튼 영역-->
  <div class="d-flex float-end mx-5">
    <span class="sociallink ml-1">
        <a href="javascript:sendLinkFacebook()" title="페이스북으로 공유">
          <img src="https://windybay.net/static/images/facebook.png" width=36 alt="Facebook">
        </a>
      </span>
      <span class="sociallink ml-1">
        <a href="javascript:sendLinkTwitter()" title="트위터로 공유">
          <img src="https://windybay.net/static/images/twitter.png" width=36 alt="Twitter">
        </a>
      </span>
      <span class="sociallink ml-1">
        <a href="javascript:sendLinkNaver()" title="네이버로 공유">
          <img src="https://windybay.net/static/images/naver.png" width=36 alt="Naver">
        </a>
      </span>
      <span class="sociallink ml-1">
        <a id="kakaotalk-sharing-btn" href="javascript:;" title="카카오톡으로 공유">
          <img src="https://windybay.net/static/images//kakaotalk.png" width=36 alt="Kakaotalk">
        </a>
      </span>
  </div>

  <!--탭 테스트  -->
  <div >
  <div class="detail_tab">
    <ul class="tab_list" style=" list-style:none;">
      <li class="tab_item item01" id="bookmark_product_information_item">
        <a href="#bookmark_product_information">
          <h3 class="tab_txt">상품 상세정보</h3>
        </a>
      </li>
      <li class="tab_item item02" id="bookmark_cm_opinion_item">
        <a href="#bookmark_cm_opinion">
          <h3 class="tab_txt">상품리뷰</h3>
          <strong class="num_c" id="productOpinionTabCount"></strong>
        </a>
      </li>
      <li class="tab_item item02" id="bookmark_cm_inquiry_item">
        <a href="#bookmark_cm_inquiry">
          <h3 class="tab_txt">문의하기</h3>
          <strong class="num_c" id="productInquiryTabCount"></strong>
        </a>
      </li>
    </ul>
  </div>
</div>
<!--// detail_tab_area -->
  <!-- 하단 상품 이미지 및 설명 -->
  <div id="bookmark_product_information" style="height: 100px; margin-top: -100px;"></div>
  <div class="d-flex justify-content-center flex-column">
      <div>
      <p class="text-center">
        {%if product.is_crawl%}
        <img src="{{product.crawl_produt_thum_img}}" alt="상품 이미지">
        {%else%}
        <img  src="{{product.produt_detail_img.url}}" alt="상품 상세 이미지" />
        {%endif%}
        
      </p>
        <br>
      <h3 class="text-center">{{product.title}}</h3>
      <br>
      
      <div class="row d-flex justify-content-center">
          <div class="col-6">
            <p class="text-center">
            <div class="d-flex align-items-center text-center">
                {{product.description|linebreaksbr}}
            </div>
            </div>
            <br>
            </p>
            <div class="col-6">
                <div class="d-flex justify-content-center text-center">
                    {%if product.is_crawl%}
                    <img src="{{product.crawl_produt_desc_img}}" alt="상품 이미지">
                    {%else%}
                    <img src="" alt="상품 성분표 이미지"/>
                    {%endif%}
            </div>
        </div>
        </div>
    </div>
  </div>


  <!-- 리뷰 영역 -->
  <div id="bookmark_cm_opinion" style="height: 100px; margin-top: -100px;"></div>
  <!-- 하단 상품 후기 -->
  <div class="container pt-5 pb-5">
    <h2 class="text-center">고객님들의 후기</h2>
    <div class="d-flex justify-content-center mt-5 mb-3">
      <img src="./main.assets/상품후기 이미지.png" alt=""/>
    </div>
    <div class="d-flex float-start mt-3">
      <p class="mx-3">총 {{reviews.count}}개</p>
    </div>
    <br>
    <br>
    <hr> 

    <div class="container mt-5">
        {% for review in reviews %}
        <div class="row">
            <div class="col-2">
                <div class="d-flex align-content-center">
                    <button class="btn-grade">등급</button>
                    <h6 class="mb-0 pt-1">{{ review.user.name }}</h6>
                </div>
            </div>
            <div class="col-8"  onclick="location.href='/reviews/{{review.pk}}/'">
                <h5 class="text-muted fw-bold">상품명 및 상품 제목 {{ review.title }}</h5>
                <p class="text-muted">{{review.content}}Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, rerum beatae provident cum voluptatem optio ducimus a magni numquam odit sed eos error delectus, ullam voluptates praesentium odio quam velit.</p>
                {% for image in review_image %}  
                    {% if image.review_id == review.pk %}
                        <img src="/media/{{image.image}}" style="width: 64px; height: 64px;">
                    {%endif%}
                {% endfor %}
            </div>
        </div>
        <hr>
        {% endfor %}


<div class="text-end m-1">
  <a href="{% url 'reviews:review_create' product.pk %}" class="btn btn-sm" id="detail_btn">리뷰 작성</a>
</div>

<div class="container">
<div class="text-end m-1">
    <button class="btn btn-sm" 
        onclick="location.href='/products/{{ product.pk }}/update/'">수정</button>
</div>
<div class="text-end m-1">
    <button  class="btn btn-sm" 
        onclick="location.href='/products/{{ product.pk }}/delete/'">삭제</button>
</div>
</div>


<!-- 문의 영역 -->
<div id="bookmark_cm_inquiry" style="height: 100px; margin-top: -100px;"></div>
<!-- 하단 상품 후기 -->
<div class="container mt-5 pt-5">
    <div class="row justify-content-between">
        <div class="col-6">
            <h2 class="text-start">상품문의</h2>
            <p class="text-muted">해당 상품에 대한 문의를 남겨주세요!<br>
            배송과 관련된 문의 사항이 있으시다면 마이페이지 내 1:1 문의에 남겨주세요.</p>
        </div> 
        <div class="col-4 pt-5">
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#inquiry-modal">
            상품 문의하기
        </button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="inquiry-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">상품 문의하기</h5>          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="qnas/question/create/" method="POST">
          {% csrf_token %}
        <div class="modal-body">
            <hr>
            {%if product.is_crawl%}
            <img src="{{product.crawl_produt_thum_img}}" alt="상품 이미지"style="width:72px;">
            {%else%}
            <img src="{{product.produt_thum_img.url}}" alt="상품 이미지" style="width:72px;">
            {%endif%}
            {{product.title}}
            <hr>
            {% bootstrap_form question_form %}
            <i class="bi bi-check-circle"></i><i class="bi bi-check-circle-fill"></i>비밀글로 문의하기
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-success">등록</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <hr class="green-line">
  <div class="container mt-3 p-1">
    <div class="row">
      <div class="col-6">
        <p class="text-center">제목</p>
      </div>
      <div class="col-6 ">
        <div class="d-flex float-end">
          <p class="text-center" style="margin-right: 3rem;">작성자</p>
          <p class="text-center" style="margin-right: 3rem; margin-left: 5rem;">작성일</p>
          <p class="text-center mx-5">답변상태</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="container accordion accordion-flush row" id="accordionFlushExample">
        {% for question in questions %}
        <div class="accordion-item">
          <h2 class="accordion-header d-flex align-content-center" id="flush-headingOne-{{question.pk}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-{{question.pk}}" aria-expanded="false" aria-controls="flush-collapseOne-{{question.pk}}">
                <div class="col-6 ">
                    {{ question.title }}
                </div>
                <div class="col-6">
                  <div class="d-flex float-end">
                    <p class="text-center mx-5">{{ question.user.name }}</p>
                    <p class="text-center mx-5">2022.11.14</p>
                    {%if question.is_answered == 1%}
                    <p class="text-center" style="margin-left: 3rem; color: #008b47;">답변완료</p>
                    {%else%}
                    <p class="text-center" style="margin-left: 3rem; color: #797979;">답변대기</p>
                    {%endif%}
                  </div>
                </div>
              </button>
          </h2>
          <div id="flush-collapseOne-{{question.pk}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne-{{question.pk}}" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body answer-form">
                    <div class="container d-flex mt-3">
                        <img src="./main.assets/Q_icon.png" width="30rem" height="30rem">
                            <p class="ms-3 mt-3">{{ question.content}}</p>
                    </div>
                    {% for answer in answers %}
                    {% if answer.question_id == question.pk%}
                    <div class="container d-flex mt-5">
                        <img src="./main.assets/A_icon.png" width="30rem" height="30rem">
                        <p class="mx-3 mt-3">{{ answer.content }}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- 버튼 -->
            <div class="d-felx float-end mb-3">
                <!-- 상품문의 답변 모달 -->
                {% if product.user_id == request.user.pk %}
                <button id="question-{{ question.pk }}-answer-create" type="button" class="btn btn-green" data-bs-toggle="modal" data-bs-target="#ansModal-{{ question.pk }}" data-question-id="{{ question.pk }}" onclick="getCreateAnswer(this.id);">답변</button>
                {%endif%}
                <div class="modal fade" id="ansModal-{{ question.pk }}" tabindex="-1" aria-labelledby="ansModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="container modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-3" id="ansModalLabel">상품문의 답변</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    <div class="modal-body">
                        <div class="container mt-3 mx-3">
                            <p class="fw-bold">{{ question.title }}</p>
                        </div>
                        <div class="container">
                            <form action="/qnas/{{ question.pk }}/answer/create/?next={{ request.path }}" method="POST" id="question-{{ question.pk }}-answer-create-form" data-question-id="{{ question.pk }}" class="display-none">
                                {% csrf_token %}
                                <div class="container mt-3 mx-3">
                                    <p>{{ question.content}}</p>
                                </div>
                                <div class="row mb-3 mt-5">
                                    <div class="col-2">
                                        <label for="message-text" class="col-form-label mx-3 fw-bold">답변</label>
                                    </div>
                                    <div class="col-10">
                                        <!-- <input class="form-control" id="message-text" rows="4" cols="50"/> -->
                                        {% bootstrap_form answer_form %}
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-5">
                                    <button type="button" class="btn btn-outline-green p-2 px-3 mx-2" data-bs-dismiss="modal">취소</button>
                                    <button type="submit" class="btn btn-green p-2 px-3">답변</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
              {% if question.user.pk == request.user.pk %}
              <a href="/qnas/{{ question.pk }}/update/?next={{ request.path }}"><button type="button" class="btn btn-outline-green" data-question-id="{{ question.pk }}">수정</button></a>
              <button type="button" class="btn btn-danger" data-question-id="{{ question.pk }}" onclick="questionDelete()">삭제</button>
              {% endif %}
            </div>                  
            </div>

          </div>
          {% endfor %}
        </div>
    

<!-- UpdateModal -->
<div class="modal fade" id="update-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">문의 수정하기</h5>          
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="qnas/question/create/" method="POST">
        {% csrf_token %}
      <div class="modal-body">
          <hr>
          {%if product.is_crawl%}
          <img src="{{product.crawl_produt_thum_img}}" alt="상품 이미지"style="width:72px;">
          {%else%}
          <img src="{{product.produt_thum_img.url}}" alt="상품 이미지" style="width:72px;">
          {%endif%}
          <span id="product-title">{{product.title}}</span>
          <hr>
          {% bootstrap_form question_form %}
          <i class="bi bi-check-circle"></i><i class="bi bi-check-circle-fill"></i>비밀글로 문의하기
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">취소</button>
        <button type="submit" class="btn btn-success">등록</button>
      </div>
    </form>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!--자바스크립트-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  function sendLinkFacebook(){
    var facebook_share_url = "https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}";
    window.open(facebook_share_url,
                'Share on Facebook',
                'scrollbars=no, width=500, height=500');
  }
  function sendLinkTwitter(){
      var twitter_share_text="{{ post.title }}";
      var twitter_share_url="{{ request.build_absolute_uri }}";
      window.open("https://twitter.com/share?text="+twitter_share_text+"&url="+twitter_share_url,
                  'Share on Twitter',
                  'scrollbars=no, width=500, height=500');
  }
  
  function sendLinkNaver() {
      var url = encodeURI(encodeURIComponent(window.location.href));
      var title = encodeURI("{{ product.title }}");
      var shareURL = "https://share.naver.com/web/shareView?url=" + url + "&title=" + title;
      window.open(shareURL, 'Share on Naver', 'scrollbars=no, width=500, height=500');
  }


  function questionDelete(e){
    event.preventDefault()
    if (confirm("정말 삭제하시겠습니까?") == true){
        window.location.href = `/qnas/${event.target.dataset.questionId}/delete/?next={{ request.path }}`
    }else{
        return;
    }
  }

  const getCreateAnswer = function (e) {
    console.log(e)
    const answerForm = document.querySelector(`#${e}-form`)
    answerForm.classList.toggle('display-none');
  }
  const submitAnswer = function (e) {

  }

  function answerDelete(e){
    event.preventDefault()
    if (confirm("정말 삭제하시겠습니까?") == true){
        window.location.href = `/qnas/answer/${event.target.dataset.answerId}/delete/?next={{ request.path }}`
    }else{
        return;
    }
  }

</script>

<!--카카오 공유 버튼-->
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.0.1/kakao.min.js"
  integrity="sha384-eKjgHJ9+vwU/FCSUG3nV1RKFolUXLsc6nLQ2R1tD0t4YFPCvRmkcF8saIfOZNWf/" crossorigin="anonymous"></script>
<script>
  Kakao.init('f120b1818e7d400b80e5bf358936933a'); // 사용하려는 앱의 JavaScript 키 입력
</script>

<script>
  Kakao.Share.createDefaultButton({
    container: '#kakaotalk-sharing-btn',
    objectType: 'feed',
    content: {
      title: '#{{ product.title }}',
      description: '#Brocurly #브로컬리 #신선식품 #인기상품 #샛별배송',
      imageUrl:
        'https://i0.wp.com/news.kurly.com/wp-content/uploads/2022/03/indentity-1.png?fit=410%2C410&ssl=1',
      link: {
        mobileWebUrl: window.location.href,
        webUrl: window.location.href,
      },
    },
    social: {
      likeCount: 286,
      commentCount: 45,
      sharedCount: 845,
    },
    buttons: [
      {
        title: '웹으로 보기',
        link: {
          mobileWebUrl: window.location.href,
          webUrl: window.location.href,
        },
      },
      {
        title: '앱으로 보기',
        link: {
          mobileWebUrl: window.location.href,
          webUrl: window.location.href,
        },
      },
    ],
  });
</script>
{% endblock %}