{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block body %}
<div class="container">
    <div class="header d-flex flex-column justify-content-center align-items-center">
        <h1 class="fs-1 fw-bolder text-white">리뷰 게시판</h1>
      </div>
      
      <div class="row">
        {% for review in reviews %}
        <div class="col-4 my-3">
          <div class="card">
            {% if review.image %}
              <img src="{{ review.image.url }}" class="card-img-top" alt="...">
            {% else %}
              <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ review.title }}</h5>
              
              <a href="{% url 'reviews:detail' review.pk %}" class="btn btn-outline-primary my-3">상세보기</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
</div>
{% endblock %}