html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  position: relative;
  padding-bottom: 500px; /* footer height */
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.btn-outline-gray {
  background-color: white;
  color: black;
  border: 1px solid #9e9a9a;
  border-radius: 5px;
  padding: 10px 20px;
}

.topBtn {
  background-color: white;
  color: #008b47;
  border: 2px solid #6ab64a92;
  border-radius: 50%;
  padding: 5px 13px;
}

.btn-outline-green:hover {
  color: white;
  background-color: #6bb64a;
  border-color: #008b47;
}

.main-review {
  width: 12rem;
  height: 12rem;
}

.nav-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-menu {
    text-decoration: none;
    position: relative;
    padding: 6px 12px;
}

.nav-menu::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 4px;
    background: #f0d772;
    transition: all .5s ease-out;
}

.nav-menu:hover::after {
    width: 100%;
}

.btn-green {
  color: white;
  background-color: #008b47;
}

.btn-green:hover {
  color: white;
  background-color: #006e39;
}

.btn-outline-green {
  color: #008b47;
  background-color: white;
  border: 2px solid #008b47;
  font-weight: bold;
}

.btn-outline-green:hover {
  color: white;
  background-color: #008b47;
}


.btn-lightgreen {
  color: #ffffff;
  background-color: #6bb64a;
}

.btn-lightgreen:hover {
  color: #ffffff;
  background-color: #59963f;
}


.btn-grade {
  background-color: #ffffff;
  border-color: #008b47;
  border-radius: 7px;
  color: #008b47;
  border-style: solid;
  margin-right: 1rem;

}

.signin-border {
  border-color: #6bb64a;
  border-radius: 4rem;
  border-style: solid;
  width: 100;
  height: 100;
  padding: 1rem;
  padding-bottom: 0rem;
  margin-top: 3rem;
}

.green-border {
  border-color: #008b47;
  border-radius: 1rem;
  border-style: solid;
  padding: 1rem;
  padding-bottom: 0rem;
}

.search-bar {
  position: relative;
}

.search-bar input {
  width: 100%;
  border: solid 2px #008b47;
  border-radius: 10px;
  padding: 7px;
  position: relative;
}
.search-bar svg {
  position : absolute;
  top: 10px;
  right: 30px;
  margin: 0;
  text-decoration: none;
  color: gray;
}

.login-input input {
  width: 60%;
  border: solid 1px rgb(206, 205, 205);
  border-radius: 7px;
  padding: 15px;
  justify-content: center;
}