    <!-- Navbar -->
    <!-- 최상단 Navbar -->
    <nav class="navbar pt-3 pe-5 me-5">
        <div class="container d-felx justify-content-end">
            {% if request.user.is_authenticated %}
            <a class="text-decoration-none text-dark" aria-current="page" href="{% url 'accounts:mypage' %}"><small>마이페이지</small></a>
            <p class="mb-0 mx-3 text-lightgreen opacity-50">|</p>
            <a class="text-decoration-none text-dark" href="{% url 'accounts:logout' %}"><small>로그아웃</small></a>
            {% else %} 
            <a class="text-decoration-none text-green" aria-current="page" href="{% url 'accounts:agreement' %}"><small>회원가입</small></a>
            <p class="mb-0 mx-3 text-lightgreen opacity-50">|</p>
            <a class="text-decoration-none text-dark" href="{% url 'accounts:login' %}"><small>로그인</small></a>
            {% endif %}
            <p class="mb-0 mx-3 text-lightgreen opacity-50">|</p>
            <a class="text-decoration-none text-dark" href="#" style="padding-right: 3.3rem;"><small>고객센터</small></a>
        </div>
    </nav>
    <!-- 중간 Navbar -->
    <nav class="navbar p-0">
        <div class="container d-flex justify-content-around">
            <a class="d-flex align-items-center text-decoration-none" href="{% url 'root' %}">
                <p class="logo text-green me-4 mb-1" style="margin-left: 1.5rem">BroKurly</p>
                <p class="text-green fs-5 mb-0">브로컬리</p>
            </a>
            <form class="nav-searchbar text-green" id="searchForm" role="search" action="{% url 'products:search' %}" method="get" >
                
                <input class="form-control me-2" style="width: 24rem; height: 3.5rem;" type="search" placeholder="검색어를 입력해주세요" aria-label="Search"  name="q" value="{{q}}">
                <a  type="submit" id="btn_search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#008b47" class="bi bi-search mt-2 me-1" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </a>
            </form>
            <!-- 아이콘 -->
            <ul class="d-flex mb-0" style="padding-right: 2.5rem;">
                <li class="list-unstyled mx-3">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-geo-alt black-green" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>                
                    </a>
                </li>
                <li class="list-unstyled mx-3">
                    <a href="{% url 'accounts:wishlist' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart black-green" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>                
                    </a>
                </li>
                <li class="list-unstyled ms-3">
                    <a href="{% url 'accounts:cart' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="28" fill="currentColor" class="bi bi-cart2 black-green" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                            {% if request.user.carts.count %}
                            <span id="cart-count-1" class="position-absolute translate-middle badge rounded-circle bg-success" style="top:40%;width:20px;height:20px;padding:4px 0 0 0!important;">
                                {{ request.user.carts.count}}
                            </span>
                            {% endif %}
                        </svg>           
                    </a>
                </li>
            </ul>
        </div>
    </nav>  
    <!-- 하단 Navbar -->    
    <nav class="navbar navbar-expand-md justify-content-around nav-shadow pt-3" style="padding-bottom: 12px;">
        <ul class="container navbar-nav" style="margin: 0px 200px;">
            <li class="nav-item dropdown">
                <a class="nav-link black-lightgreen d-flex align-items-center" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-list me-2" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    카테고리
                </a>
                <!-- <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Dropdown </a> -->
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🎁
                            </div>
                            <div>
                                선물하기
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">홍삼·즙</a></li>
                            <li><a class="dropdown-item" href="#">건강식품</a></li>
                            <li><a class="dropdown-item" href="#">과일·수산·정육</a></li>
                            <li><a class="dropdown-item" href="#">베이커리·커피·차</a></li>
                            <li><a class="dropdown-item" href="#">간편식·오일·캔류</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🥬
                            </div>
                            <div>
                                채소
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">친환경</a></li>
                            <li><a class="dropdown-item" href="#">고구마·감자·당근</a></li>
                            <li><a class="dropdown-item" href="#">시금치·쌈채소·나물</a></li>
                            <li><a class="dropdown-item" href="#">브로콜리·파프리카·양배추</a></li>
                            <li><a class="dropdown-item" href="#">양파·대파·마늘·배추</a></li>
                            <li><a class="dropdown-item" href="#">오이·호박·고추</a></li>
                            <li><a class="dropdown-item" href="#">냉동·이색·간편채소</a></li>
                            <li><a class="dropdown-item" href="#">콩나물·버섯</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🍒
                            </div>
                            <div>
                                과일·견과·쌀
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">친환경</a></li>
                            <li><a class="dropdown-item" href="#">제철과일</a></li>
                            <li><a class="dropdown-item" href="#">국산과일</a></li>
                            <li><a class="dropdown-item" href="#">수입과일</a></li>
                            <li><a class="dropdown-item" href="#">간편과일</a></li>
                            <li><a class="dropdown-item" href="#">냉동·건과일</a></li>
                            <li><a class="dropdown-item" href="#">견과류</a></li>
                            <li><a class="dropdown-item" href="#">쌀·잡곡</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🦐
                            </div>
                            <div>
                                수산·해산·건어물
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">제철수산</a></li>
                            <li><a class="dropdown-item" href="#">생선류</a></li>
                            <li><a class="dropdown-item" href="#">굴비·반건류</a></li>
                            <li><a class="dropdown-item" href="#">오징어·낙지·문어</a></li>
                            <li><a class="dropdown-item" href="#">새우·게·랍스터</a></li>
                            <li><a class="dropdown-item" href="#">해산물·조개류</a></li>
                            <li><a class="dropdown-item" href="#">수산가공품</a></li>
                            <li><a class="dropdown-item" href="#">김·미역·해조류</a></li>
                            <li><a class="dropdown-item" href="#">건어물·다시팩</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🥩
                            </div>
                            <div>
                                정육·계란
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">국내산 소고기</a></li>
                            <li><a class="dropdown-item" href="#">수입산 소고기</a></li>
                            <li><a class="dropdown-item" href="#">돼지고기</a></li>
                            <li><a class="dropdown-item" href="#">계란류</a></li>
                            <li><a class="dropdown-item" href="#">닭·오리고기</a></li>
                            <li><a class="dropdown-item" href="#">양념육·돈까스</a></li>
                            <li><a class="dropdown-item" href="#">양고기</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🥘
                            </div>
                            <div>
                                국·반찬·메인요리
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">국·탕·찌개</a></li>
                            <li><a class="dropdown-item" href="#">밀키트·메인요리</a></li>
                            <li><a class="dropdown-item" href="#">밑반찬</a></li>
                            <li><a class="dropdown-item" href="#">김치·젓갈·장류</a></li>
                            <li><a class="dropdown-item" href="#">두부·어묵·부침개</a></li>
                            <li><a class="dropdown-item" href="#">베이컨·햄·통조림</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🥗
                            </div>
                            <div>
                                샐러드·간편식
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">샐러드·닭가슴살</a></li>
                            <li><a class="dropdown-item" href="#">도시락·밥류</a></li>
                            <li><a class="dropdown-item" href="#">파스타·면류</a></li>
                            <li><a class="dropdown-item" href="#">떡볶이·튀김·순대</a></li>
                            <li><a class="dropdown-item" href="#">피자·핫도그·만두</a></li>
                            <li><a class="dropdown-item" href="#">폭립·떡갈비·안주</a></li>
                            <li><a class="dropdown-item" href="#">죽·스프·카레</a></li>
                            <li><a class="dropdown-item" href="#">선식·시리얼</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div style="margin-left: 4px; margin-right: 10px;">
                                🧂
                            </div>
                            <div>
                                면·양념·오일
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">파스타·면류</a></li>
                            <li><a class="dropdown-item" href="#">식초·소스·드레싱</a></li>
                            <li><a class="dropdown-item" href="#">양념·액젓·장류</a></li>
                            <li><a class="dropdown-item" href="#">식용유·참기름·오일</a></li>
                            <li><a class="dropdown-item" href="#">소금·설탕·향신료</a></li>
                            <li><a class="dropdown-item" href="#">밀가루·가루·믹스</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                ☕
                            </div>
                            <div>
                                생수·음료·우유·커피
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">생수·탄산수</a></li>
                            <li><a class="dropdown-item" href="#">음료·주스</a></li>
                            <li><a class="dropdown-item" href="#">우유·두유·요거트</a></li>
                            <li><a class="dropdown-item" href="#">커피</a></li>
                            <li><a class="dropdown-item" href="#">차</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🍪
                            </div>
                            <div>
                                간식·과자·떡
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">과자·스낵·쿠키</a></li>
                            <li><a class="dropdown-item" href="#">초콜릿·젤리·캔디</a></li>
                            <li><a class="dropdown-item" href="#">떡·한과</a></li>
                            <li><a class="dropdown-item" href="#">아이스크림</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🧀
                            </div>
                            <div>
                                베이커리·치즈·델리
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">식빵·빵류</a></li>
                            <li><a class="dropdown-item" href="#">잼·버터·스프레드</a></li>
                            <li><a class="dropdown-item" href="#">케이크·파이·디저트</a></li>
                            <li><a class="dropdown-item" href="#">치즈</a></li>
                            <li><a class="dropdown-item" href="#">델리</a></li>
                            <li><a class="dropdown-item" href="#">올리브·피클</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                💊
                            </div>
                            <div>
                                건강식품
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">영양제</a></li>
                            <li><a class="dropdown-item" href="#">유산균</a></li>
                            <li><a class="dropdown-item" href="#">홍삼·인삼·꿀</a></li>
                            <li><a class="dropdown-item" href="#">건강즙·건강음료</a></li>
                            <li><a class="dropdown-item" href="#">건강분말·건강환</a></li>
                            <li><a class="dropdown-item" href="#">다이어트·이너뷰티</a></li>
                            <li><a class="dropdown-item" href="#">유아동</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div style="margin-left: 4.5px; margin-right: 10px;">
                                🍷
                            </div>
                            <div>
                                와인
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">레드와인</a></li>
                            <li><a class="dropdown-item" href="#">화이트와인</a></li>
                            <li><a class="dropdown-item" href="#">샴페인·스파클링</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🍶
                            </div>
                            <div>
                                전통주
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">막걸리·탁주</a></li>
                            <li><a class="dropdown-item" href="#">증류주·약주·청주</a></li>
                            <li><a class="dropdown-item" href="#">과실주·리큐르</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="hvr-underline-from-center" style="padding-bottom: 3.5px;">
                <a class="nav3-menu text-decoration-none active"href="{% url 'products:index' 'new' %}  ">신상품</a>
            </li>
            <li class="hvr-underline-from-center" style="padding-bottom: 3.5px;">
                <a class="nav3-menu text-decoration-none active" href="{% url 'products:index'  'hot' %}  ">베스트</a>
            </li>
            <li class="hvr-underline-from-center" style="padding-bottom: 3.5px;">
                <a class="nav3-menu text-decoration-none active" href="{% url 'products:index'  'sale' %}  ">알뜰쇼핑</a>
            </li>
            <li class="hvr-underline-from-center" style="padding-bottom: 3.5px;">
                <a class="nav3-menu text-decoration-none active" href="#">특가/혜택</a>
            </li>
        </ul>
    </nav>

    <!-- 스크롤 Navbar -->
    <nav id="scrollNav" class="navbar navbar-expand-md justify-content-around nav-shadow" style="padding: 12px 155px 12px 180px;"> <!--   -->
        <ul class="container navbar-nav align-itme" style="margin: 0px 0px;">

            <li class="nav-item dropdown">
                <a class="nav-link black-lightgreen d-flex align-items-center py-0" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-list me-2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    카테고리
                </a>
                <!-- <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Dropdown </a> -->
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🎁
                            </div>
                            <div>
                                선물하기
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">홍삼·즙</a></li>
                            <li><a class="dropdown-item" href="#">건강식품</a></li>
                            <li><a class="dropdown-item" href="#">과일·수산·정육</a></li>
                            <li><a class="dropdown-item" href="#">베이커리·커피·차</a></li>
                            <li><a class="dropdown-item" href="#">간편식·오일·캔류</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🥬
                            </div>
                            <div>
                                채소
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">친환경</a></li>
                            <li><a class="dropdown-item" href="#">고구마·감자·당근</a></li>
                            <li><a class="dropdown-item" href="#">시금치·쌈채소·나물</a></li>
                            <li><a class="dropdown-item" href="#">브로콜리·파프리카·양배추</a></li>
                            <li><a class="dropdown-item" href="#">양파·대파·마늘·배추</a></li>
                            <li><a class="dropdown-item" href="#">오이·호박·고추</a></li>
                            <li><a class="dropdown-item" href="#">냉동·이색·간편채소</a></li>
                            <li><a class="dropdown-item" href="#">콩나물·버섯</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🍒
                            </div>
                            <div>
                                과일·견과·쌀
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">친환경</a></li>
                            <li><a class="dropdown-item" href="#">제철과일</a></li>
                            <li><a class="dropdown-item" href="#">국산과일</a></li>
                            <li><a class="dropdown-item" href="#">수입과일</a></li>
                            <li><a class="dropdown-item" href="#">간편과일</a></li>
                            <li><a class="dropdown-item" href="#">냉동·건과일</a></li>
                            <li><a class="dropdown-item" href="#">견과류</a></li>
                            <li><a class="dropdown-item" href="#">쌀·잡곡</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🦐
                            </div>
                            <div>
                                수산·해산·건어물
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">제철수산</a></li>
                            <li><a class="dropdown-item" href="#">생선류</a></li>
                            <li><a class="dropdown-item" href="#">굴비·반건류</a></li>
                            <li><a class="dropdown-item" href="#">오징어·낙지·문어</a></li>
                            <li><a class="dropdown-item" href="#">새우·게·랍스터</a></li>
                            <li><a class="dropdown-item" href="#">해산물·조개류</a></li>
                            <li><a class="dropdown-item" href="#">수산가공품</a></li>
                            <li><a class="dropdown-item" href="#">김·미역·해조류</a></li>
                            <li><a class="dropdown-item" href="#">건어물·다시팩</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🥩
                            </div>
                            <div>
                                정육·계란
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">국내산 소고기</a></li>
                            <li><a class="dropdown-item" href="#">수입산 소고기</a></li>
                            <li><a class="dropdown-item" href="#">돼지고기</a></li>
                            <li><a class="dropdown-item" href="#">계란류</a></li>
                            <li><a class="dropdown-item" href="#">닭·오리고기</a></li>
                            <li><a class="dropdown-item" href="#">양념육·돈까스</a></li>
                            <li><a class="dropdown-item" href="#">양고기</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🥘
                            </div>
                            <div>
                                국·반찬·메인요리
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">국·탕·찌개</a></li>
                            <li><a class="dropdown-item" href="#">밀키트·메인요리</a></li>
                            <li><a class="dropdown-item" href="#">밑반찬</a></li>
                            <li><a class="dropdown-item" href="#">김치·젓갈·장류</a></li>
                            <li><a class="dropdown-item" href="#">두부·어묵·부침개</a></li>
                            <li><a class="dropdown-item" href="#">베이컨·햄·통조림</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🥗
                            </div>
                            <div>
                                샐러드·간편식
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">샐러드·닭가슴살</a></li>
                            <li><a class="dropdown-item" href="#">도시락·밥류</a></li>
                            <li><a class="dropdown-item" href="#">파스타·면류</a></li>
                            <li><a class="dropdown-item" href="#">떡볶이·튀김·순대</a></li>
                            <li><a class="dropdown-item" href="#">피자·핫도그·만두</a></li>
                            <li><a class="dropdown-item" href="#">폭립·떡갈비·안주</a></li>
                            <li><a class="dropdown-item" href="#">죽·스프·카레</a></li>
                            <li><a class="dropdown-item" href="#">선식·시리얼</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div style="margin-left: 4px; margin-right: 10px;">
                                🧂
                            </div>
                            <div>
                                면·양념·오일
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">파스타·면류</a></li>
                            <li><a class="dropdown-item" href="#">식초·소스·드레싱</a></li>
                            <li><a class="dropdown-item" href="#">양념·액젓·장류</a></li>
                            <li><a class="dropdown-item" href="#">식용유·참기름·오일</a></li>
                            <li><a class="dropdown-item" href="#">소금·설탕·향신료</a></li>
                            <li><a class="dropdown-item" href="#">밀가루·가루·믹스</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                ☕
                            </div>
                            <div>
                                생수·음료·우유·커피
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">생수·탄산수</a></li>
                            <li><a class="dropdown-item" href="#">음료·주스</a></li>
                            <li><a class="dropdown-item" href="#">우유·두유·요거트</a></li>
                            <li><a class="dropdown-item" href="#">커피</a></li>
                            <li><a class="dropdown-item" href="#">차</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🍪
                            </div>
                            <div>
                                간식·과자·떡
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">과자·스낵·쿠키</a></li>
                            <li><a class="dropdown-item" href="#">초콜릿·젤리·캔디</a></li>
                            <li><a class="dropdown-item" href="#">떡·한과</a></li>
                            <li><a class="dropdown-item" href="#">아이스크림</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🧀
                            </div>
                            <div>
                                베이커리·치즈·델리
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">식빵·빵류</a></li>
                            <li><a class="dropdown-item" href="#">잼·버터·스프레드</a></li>
                            <li><a class="dropdown-item" href="#">케이크·파이·디저트</a></li>
                            <li><a class="dropdown-item" href="#">치즈</a></li>
                            <li><a class="dropdown-item" href="#">델리</a></li>
                            <li><a class="dropdown-item" href="#">올리브·피클</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                💊
                            </div>
                            <div>
                                건강식품
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">영양제</a></li>
                            <li><a class="dropdown-item" href="#">유산균</a></li>
                            <li><a class="dropdown-item" href="#">홍삼·인삼·꿀</a></li>
                            <li><a class="dropdown-item" href="#">건강즙·건강음료</a></li>
                            <li><a class="dropdown-item" href="#">건강분말·건강환</a></li>
                            <li><a class="dropdown-item" href="#">다이어트·이너뷰티</a></li>
                            <li><a class="dropdown-item" href="#">유아동</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div style="margin-left: 4.5px; margin-right: 10px;">
                                🍷
                            </div>
                            <div>
                                와인
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">레드와인</a></li>
                            <li><a class="dropdown-item" href="#">화이트와인</a></li>
                            <li><a class="dropdown-item" href="#">샴페인·스파클링</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item d-flex" href="#">
                            <div class="me-2">
                                🍶
                            </div>
                            <div>
                                전통주
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">막걸리·탁주</a></li>
                            <li><a class="dropdown-item" href="#">증류주·약주·청주</a></li>
                            <li><a class="dropdown-item" href="#">과실주·리큐르</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="hvr-underline-from-center px-0 ms-5" style="padding-bottom: 3.5px;">
                <a class="nav3-menu text-decoration-none active" href="{% url 'products:index' 'new' %}  ">신상품</a>
            </li>
            <li class="hvr-underline-from-center px-0" style="padding-bottom: 3.5px;">
                <a class="nav3-menu text-decoration-none active" href="{% url 'products:index' 'hot' %}  ">베스트</a>
            </li>
            <li class="hvr-underline-from-center px-0" style="padding-bottom: 3.5px;">
                <a class="nav3-menu text-decoration-none active" href="{% url 'products:index' 'sale' %}  ">알뜰쇼핑</a>
            </li>
            <li class="hvr-underline-from-center px-0" style="padding-bottom: 3.5px;">
                <a class="nav3-menu text-decoration-none active" href="#">특가/혜택</a>
            </li>
            
            <!-- 검색 -->
            <form class="scrollNav-searchbar text-green" id="searchForm" role="search" action="{% url 'products:search' %}" method="get" style="height: 40px;">
                <input class="form-control ms-3" style="width: 16rem; height: 40px;" type="search" placeholder="검색어를 입력해주세요" aria-label="Search"  name="q" value="{{q}}">
                <a  type="submit" id="btn_search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="#008b47" class="bi bi-search" style="margin-top: 11px;" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </a>
            </form>
            <!-- 아이콘 -->
            <ul class="d-flex align-items-center" style="padding-left: 0px; padding-right: 40px;">
                <li class="list-unstyled mx-1" style="margin-top: 2.3px;">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" fill="currentColor" class="bi bi-geo-alt black-green" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>                
                    </a>
                </li>
                <li class="list-unstyled mx-1" style="margin-top: 2.5px;">
                    <a href="{% url 'accounts:wishlist' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart black-green" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>                
                    </a>
                </li>
                <li class="list-unstyled ms-1 mt-0">
                    <a href="{% url 'accounts:cart' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="27" fill="currentColor" class="bi bi-cart2 black-green" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                            {% if request.user.carts.count %}
                            <span id="cart-count-2" class="position-absolute translate-middle badge rounded-circle bg-success" style="top:40%;width:20px;height:20px;padding:4px 0 0 0!important;">
                                {{ request.user.carts.count}}
                            </span>
                            {% endif %}
                        </svg>              
                    </a>
                </li>
            </ul>
        </ul>
    </nav>