{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block body %}
<div class="container">
    <!--추가로 해야 할 작업-->
    <!--product 메인에 같은 레이아웃으로 만들기-->
{% if not search_product_list %}
    {{q}}에 대한 검색 결과가 없습니다.
{% else %}
    <p><!--여기는 검색어에 대한 결과 크게 출력-->
    {{q}}에 대한 {{search_product_list.count}}건 검색 결과가 있습니다
    </p><!--여기서부터 메인과 같은 레이아웃으로 출력-->
    {% for product_list in search_product_list.all %}
    <p>
    <a href="/products/{{ product_list.id }}/">{{ product_list.title }}</a>
    </p>
    {% endfor %}

{% endif %}
</div>
{% endblock %}